body {
  font-family: arial, sans-serif;
  margin: 0;
  color: #;
  text-align: center;
}
/* NAVBAR STYLES */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  margin: 0 auto;
  width: 100%;
  background-color: #dadde0;
}
#nav-bar ul {
  justify-self: end;
}
#nav-bar li {
  float: left;
  margin: 5px 60px;
  list-style-type: none;
}
#nav-bar a {
  text-decoration: none;
  color: #3a6377;
  font-weight: bold;
  font-size: 16px;
}
/* HEADER STYLES */
#header {
  background-color: #dadde0;
  height: 100vh;
  display: grid;
  color: #d86955;
  margin-bottom: 100px;
}
#header-text {
  justify-self: center;
  align-self: center;
  text-align: center;
  line-height: 0.5;
  margin-right: 20px;
}
#header-text p {
  color: #98b3d3;
}
/* PROJECT TILE STYLES */
#project-head {
  color: #3a6377; 
}

#projects {
  display: grid;
  grid-gap: 20px;
  margin: 100px 30px 80px;
  grid-template-columns: repeat(3, 1fr);
}

#projects .project-tile {
  /* border: 4px solid #9DBEC0; */
  border: none;
  border-radius: 4px;
  height: 220px;
  width: 280px;
  overflow: hidden;
  justify-self: center;
  /* margin-right: 65px; */
}
#projects .project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 4px solid #3a6377;
  margin-bottom: 5px;
}
#projects a {
  text-decoration: none;
  color: #3a6377;
  font-weight: bold;
  font-size: 16px;
}
#profile-link {
  background-color: #dadde0;
  color: #3a6377;
  font-weight: bold;
  /* border: 2px solid #90c695; */
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 40px;
  padding: 10px 60px;
}
#profile-link:hover {
  background-color: #3a6377;
  color: #d86955;
  transition: 1s;
}
/* LINKS SECTION STYLES */
#work {
  margin-top: 90px;
  background-color: #3a6377;
  color: #dadde0;
  padding-bottom: 160px;
}
#work-header {
  padding: 100px 0 90px;
  line-height: 0.5;
}
#work a {
  display: inline-block;
  background-color: #223C52;
  color: #dadde0;
  width: 100px;
  height: 100px;
  /* border: 2px solid #90c695; */
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 6;
  margin: 0 30px 30px;
}

#work a:hover {
  background-color: #dadde0;
  color: #d86955;
  transition: 1s;
}

/* FOOTER STYLES */
#footer {
  background: #223C52;
  color: #DADDE0;
  padding: 5px 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  #projects {
    grid-template-columns: 1fr;
  }
}
